* {
	margin: 0;
	padding: 0;
}

.unit,
.container,
.column,
.clearfix {
	display: block;
	*zoom: 1;
	*display: inline-block;
}

.unit:after,
.container:after,
.column:after,
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.column {
	float: left;
}


#page {
	margin: 0 auto;
	width: 960px;
}

#header {
	height: 80px;
	}
	#logo {
		padding-top: 8px;
		}
		#logo > a {
			background: url("../img/logo80x60.png") no-repeat;
			padding-top: 40px;
			padding-left: 80px;
			font-size: 20px;
			font-weight: bold;
			color: #333333;
			float: left;
			text-decoration: none;
		}
	#user {
		margin-left: 640px;
		padding-top: 8px;
		position: absolute;
	}

#menu {
	height: 45px;
}

#content {
	padding: 30px;
	}
	#field {
		margin-left: 150px;
	}

#footer {
	padding: 10px 20px;
	text-align: center;
	clear: both;
}
