/*
 * Copyright 2000 - 2009 Ivan Khalopik. All Rights Reserved.
 */

/* Layout */
div.header {
	border-bottom: 1px solid #DDDDFF;
	padding: 10px 20px;
	height: 50px;
}

div.header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.footer {
	text-align: center;
	clear: both;
	background: #ddddff;
	padding: 10px 20px;
}

div.left {
	padding: 20px;
}

div.content {
	background: url("cell.gif") repeat;
	min-height: 520px;
	margin: 10px;
	padding: 20px;
}

table.dialog td {
	padding-bottom: 3px;
	padding-left: 10px;
}

div.transparent {
	background-color: transparent;
	border-style: none;
}

table.details {
	width: 90%;
}

table.details tr {
	height: 20px;
}

table.details th {
	width: 30%;
	text-align: right;
	padding-right: 10px;
}

.t-selector .item {
	width: 40px;
}

