/*
 * Copyright 2000 - 2009 Ivan Khalopik. All Rights Reserved.
 */

/* Layout */
div.header {
	border-bottom: 1px solid #DDDDFF;
	padding: 10px 20px;
	height: 50px;
}

div.header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.footer {
	text-align: center;
	clear: both;
	background: #ddddff;
	padding: 10px 20px;
}

div.left {
	padding: 20px;
}

div.content {
	background: url("cell.gif") repeat;
	min-height: 520px;
	margin: 10px;
	padding: 20px;
}

table.dialog td {
	padding-bottom: 3px;
	padding-left: 10px;
}

div.transparent {
	background-color: transparent;
	border-style: none;
}

table.details {
	width: 90%;
}

table.details tr {
	height: 20px;
}

table.details th {
	width: 30%;
	text-align: right;
	padding-right: 10px;
}

.t-selector div.previous {
	background: transparent url("larrow.svg") repeat ;
	width: 64px;
	height: 64px;
}

.t-selector div.next {
	background: transparent url("rarrow.svg");
	width: 64px;
	height: 64px;
}

.t-selector.face div.item {
	width: 200px;
	height: 200px;
}

.t-selector.face div.previous {
	margin-top: 68px;
	margin-bottom: 68px;
}

.t-selector.face div.next {
	margin-top: 68px;
	margin-bottom: 68px;
}

.t-selector.race div.item {
	width: 200px;
	height: 100px;
}

.t-selector.race div.previous {
	margin-top: 18px;
	margin-bottom: 18px;
}

.t-selector.race div.next {
	margin-top: 18px;
	margin-bottom: 18px;
}
