/*
 * Copyright 2000 - 2009 Ivan Khalopik. All Rights Reserved.
 */

/* Layout */
div.header {
	border-bottom: 1px solid #DDDDFF;
	padding: 10px 20px;
}

div.header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.footer {
	text-align: center;
	clear: both;
	background: #ddddff;
	padding: 10px 20px;
}

div.left {
	padding: 20px;
}

div.content {
	background: url("cell.gif") repeat;
	min-height: 520px;
	margin: 10px;
	padding: 20px;
}

.panel.login {
	width: 320px;
}

div.transparent {
	background-color: transparent;
	border-style: none;
}
