.flag {
	background: url("../img/flags.png") no-repeat;
	width: 32px;
	height: 24px;
}

/* AZERBAIJAN */
.flag.AZ,
.flag.AZE {
	background-position: 0 0;
}

/* BELARUS */
.flag.BY,
.flag.BLR {
	background-position: 0 -24px;
}

/* BULGARIA */
.flag.BG,
.flag.BGR {
	background-position: 0 -48px;
}

/* BOSNIA AND HERZEGOWINA */
.flag.BA,
.flag.BIH {
	background-position: 0 -72px;
}

/* CZECH REPUBLIC */
.flag.CZ,
.flag.CHE {
	background-position: 0 -96px;
}

/* DENMARK */
.flag.DK,
.flag.DNK {
	background-position: 0 -120px;
}

/* GERMANY */
.flag.DE,
.flag.DEU {
	background-position: 0 -144px;
}

/* GREECE */
.flag.GR
.flag.GRC {
	background-position: 0 -168px;
}

/* UNITED KINGDOM */
.flag.GB,
.flag.GBR {
	background-position: 0 -192px;
}

/* UNITED STATES */
.flag.US,
.flag.USA {
	background-position: 0 -216px;
}

/* SPAIN */
.flag.ES,
.flag.ESP {
	background-position: 0 -240px;
}

/* FINLAND */
.flag.FI,
.flag.FIN {
	background-position: 0 -264px;
}

/* FRANCE */
.flag.FR,
.flag.FRA {
	background-position: 0 -288px;
}

/* CROATIA */
.flag.HR,
.flag.HRV {
	background-position: 0 -312px;
}

/* ARMENIA */
.flag.AM,
.flag.ARM {
	background-position: 0 -336px;
}

/* ITALY */
.flag.IT,
.flag.ITA {
	background-position: 0 -360px;
}

/* JAPAN */
.flag.JP,
.flag.JPN {
	background-position: 0 -384px;
}

/* NETHERLANDS */
.flag.NL,
.flag.NLD {
	background-position: 0 -408px;
}

/* BRAZIL */
.flag.BR,
.flag.BRA {
	background-position: 0 -432px;
}

/* PORTUGAL */
.flag.PT,
.flag.PRT {
	background-position: 0 -456px;
}

/* RUSSIAN FEDERATION */
.flag.RU,
.flag.RUS {
	background-position: 0 -480px;
}

/* ALBANIA */
.flag.AL,
.flag.ALB {
	background-position: 0 -504px;
}

/* SWEDEN */
.flag.SE,
.flag.SWE {
	background-position: 0 -528px;
}

/* CHINA */
.flag.CN,
.flag.CHN {
	background-position: 0 -552px;
}
