/*
 * Copyright 2000 - 2009 Ivan Khalopik. All Rights Reserved.
 */

/* Common styles */
html {
	background: #e6d29d;
	color: #6d440c;
	font-family: arial, verdana, sans-serif;
	font-size: 15px;
}

a,
a:visited,
a:hover {
	color: #6d440c;
}

/* Layout */
div.header {
	padding: 10px 20px;
}

div.header:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a.logo {
	background: url("../img/logo80x60.png") no-repeat;
	padding-top: 40px;
	padding-left: 80px;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	float: left;
}

div.footer {
	border-top: 1px solid #C7A663;
	padding: 10px 20px;
	text-align: center;
	clear: both;
}

div.left,
div.right {
	padding: 20px;
}

/* Menu styles */
ul.m-menu {
	border: 1px solid #6d440c;
	border-radius: 10px;
	list-style: none none inside;
}

ul.m-menu > li {
	border: 1px solid #c7a663;
	border-radius: 5px;
	margin: 2px;
	display: block;
	position: relative;
	cursor: pointer;
	line-height: 150%;
}

ul.m-menu > li:hover {
	border: 1px solid #6d440c;
}

ul.m-menu > li > a,
ul.m-menu > li > span {
	padding: 3px 20px 3px 30px;
	display: block;
	position: relative;
	text-decoration: none;
}

/* Panel styles */
div.m-panel {
	background: #fee8ae;
	border: 1px solid #c7a663;
	border-radius: 20px;
	margin: 10px;
	padding: 20px;
}

ul.m-menu.toolbar {
	border: 0;
	border-top: 1px solid #c7a663;
	border-radius: 0;
	margin: 0;
	list-style: none none inside;
}

ul.m-menu.toolbar > li {
	border: 1px solid #c7a663;
	border-radius: 5px;
	margin: 10px 0 10px 10px;
	float: left;
}

ul.m-menu.toolbar > li:hover {
	border: 1px solid #6d440c;
}

ul.m-menu.toolbar > li > a,
ul.m-menu.toolbar > li > span {
	padding: 5px 10px;
	display: block;
	position: relative;
	text-decoration: none;
	float: left;
}
