// Scaffolding
// Basic and global styles for generating a grid system, structural layout, and page templates
// -------------------------------------------------------------------------------------------


// STRUCTURAL LAYOUT
// -----------------

body {
  min-width: @gridRowWidth + 2 * @gridGutterWidth;
}

// LINKS
// -----

#header {
  margin-top: 10px;

  .logo {
    background: url("../img/logo80x60.png") no-repeat;
    padding-top: 40px;
    padding-left: 80px;
    color: @textColor;
    font-size: 20px;
    font-weight: bold;
    display: block;
  }
}

#footer {
  text-align: center;
}

.wrapper {
  margin: 0 -@gridGutterWidth;
  padding: @gridGutterWidth - 1;
  background: @foregroundColor;
  border: 1px solid @borderColor;
  .border-radius(@gridGutterWidth);
  .clearfix();
}

.page-header {
  padding-bottom: @baseLineHeight - 1;
  margin: @baseLineHeight 0;
  border-bottom: 1px solid @borderColor;

  h1 {
    line-height: 1;
  }
}

.tabs-panel {
  margin: 0 -@gridGutterWidth;
  .tab-content {
    padding: @gridGutterWidth - 1;
    background: @foregroundColor;
    border: 1px solid @borderColor;
    border-bottom: 0;
    @borderRadius: @gridGutterWidth @gridGutterWidth 0 0;
    .border-radius(@borderRadius);
  }
}

.menu-horizontal {
  list-style: none;
  margin: 0;

  li {
    float: left;
  }
}

