// Scaffolding
// Basic and global styles for generating a grid system, structural layout, and page templates
// -------------------------------------------------------------------------------------------


// STRUCTURAL LAYOUT
// -----------------

body {
  min-width: @gridRowWidth + 2 * @gridGutterWidth;
}

// LINKS
// -----

#header {
  margin-top: 10px;

  .logo {
    background: url("../img/logo80x60.png") no-repeat;
    padding-top: 40px;
    padding-left: 80px;
    color: @textColor;
    font-size: 20px;
    font-weight: bold;
    display: block;
  }

  form {
    margin-bottom: 5px;
  }
}

#footer {
  text-align: center;
}

#content {
  margin: 0 -@gridGutterWidth;
  padding: @gridGutterWidth - 1;
  background: @foregroundColor;
  border: 1px solid @borderColor;
  .border-radius(@gridGutterWidth);
  .clearfix();
}

.menu-horizontal {
  list-style: none;
  margin: 0;

  li {
    float: left;
  }
}

