<?xml version="1.0" encoding="UTF-8"?>
<Context path="">
  <Resource name="mail/session" auth="Container" type="javax.mail.Session"
            mail.smtp.host="smtp.gmail.com"
            mail.smtp.user="${project.mail.admin-address}"
            password="${project.mail.admin-password}"
            mail.smtp.auth="true"
            mail.smtp.starttls.enable="true"
      />
</Context>