//
// Layout
// --------------------------------------------------


// Static bottom footer
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100%;
  margin-bottom: -@page-footer-height;

  .buffer {
    height: @page-footer-height;
  }

  .wrapper {
    padding: @grid-gutter-width - 1;
    background-color: @mutabra-foreground;
    border: 1px solid @mutabra-border;
    border-radius: @grid-gutter-width;
  }

  + footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

// Static top navbar styles
.navbar-static-top {
  margin-top: @navbar-margin-top;
  margin-bottom: 0;
  border: 0;

  .navbar-brand {
    background: url(@logo-path) no-repeat;
    margin-top: @logo-margin-top;
    padding-top: @logo-padding-top;
    padding-left: @logo-width;
    color: @text-color;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }

  .sign-form {
    @media (min-width: @grid-float-breakpoint) {
      margin-top: -@input-height-small;
    }

    // all inputs should be small
    .form-control {
      .input-sm();
    }
  }

  .user-details {
    @media (min-width: @grid-float-breakpoint) {
      margin-top: -@input-height-base;
    }

    .user-details-cell {
      margin-right: @navbar-padding-horizontal;
      display: inline-block;
      vertical-align: top;

      svg {
        vertical-align: top;
      }

      .locale-menu {
        .list-inline();
        .navbar-vertical-align(@flag-height);

        > li {
          padding: 0;
          opacity: 0.5;

          &:hover, &:active, &.active, &:focus {
            opacity: 1;
          }
        }
      }
    }
  }
}
