// Page layout
@page-min-height:           600px;
@page-footer-height:        100px;

@logo-path:                 "../img/logo80x60.png";
@logo-width:                80px;
@logo-height:               60px;
@logo-margin-top:           @navbar-height - @navbar-padding-vertical - @logo-height;
@logo-padding-top:          @navbar-padding-vertical - @logo-margin-top;

@navbar-margin-top:         @line-height-computed - @logo-margin-top;

//@iconSpritePath:            "../img/icons_16x16.png";
//@iconWhiteSpritePath:       "../img/icons_white_16x16.png";
//@largeIconSpritePath:       "../img/icons_24x24.png";
//@largeIconWhiteSpritePath:  "../img/icons_white_24x24.png";
//@flagIconSpritePath:        "../img/flags.png";

// Cards
//@cardBorder:                   @mutabraDefault;
//@cardBackground:               @mutabraLight;
//@cardBackgroundHover:          @mutabraLighter;
//@cardBorderActive:             @mutabraDark;
//@cardBackgroundActive:         @mutabraLighter;
//@cardBackgroundDisabled:       @mutabraLighter;

// Field
//@fieldBackground:              @mutabraLight;
//@fieldBorder:                  @grayDark;
//@fieldBackgroundActive:        @mutabraLighter;
//@fieldBackgroundHighlight:     @mutabraDefault;

// Description
//@descriptionBorder:            @mutabraDefault;