// Battle page styles
// -----

.grid-cell(@columns, @rows) {
  float: left;
  margin-left: @gridGutterWidth;
  margin-bottom: @gridGutterWidth;
  width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
  height: (@gridColumnWidth * @rows) + (@gridGutterWidth * (@rows - 1));
}

.actions {
  display: none;

  &.active {
    display: block;
  }
}

.description {
  .grid-cell(4, 4);
  border: 1px solid @descriptionBorder;
  .border-radius(@gridGutterWidth);
  padding: 0 @gridGutterWidth;
  .box-sizing(border-box);
  display: none;

  .description-title {
    border-bottom: 1px solid @descriptionBorder;
  }
  .description-picture {
    float: left;
    width: (@gridColumnWidth * 2) + (@gridGutterWidth);
    height: (@gridColumnWidth * 2) + (@gridGutterWidth);
  }
  dl.description-attrs {
    float: left;
    .clearfix(); // Ensure dl clears floats if empty dd elements present

    dt {
      float: left;
      width: @gridColumnWidth - @gridGutterWidth;
      clear: left;
      text-align: right;
      .text-overflow();
    }
    dd {
      margin-left: @gridColumnWidth - (@gridGutterWidth / 2);
      line-height: @largeIconSize;
    }
  }
  .description-text {
    padding-top: @gridGutterWidth / 2;
    display: inline-block;
    width: 100%;
  }

  &.active {
    display: block;
  }
  &.disabled {
    .opacity(65);
  }
}

.card {
  .grid-cell(2, 2);
  position: relative;
  cursor: pointer;

  .card-ne,
  .card-nw,
  .card-sw,
  .card-se,
  .card-body {
    border: 1px solid @cardBorder;
    .border-radius(@gridGutterWidth);
    background-color: @cardBackground;
  }

  &:hover {
    .card-ne,
    .card-nw,
    .card-sw,
    .card-se,
    .card-body {
      background-color: @cardBackgroundHover;
    }
  }

  &.active {
    .card-ne,
    .card-nw,
    .card-sw,
    .card-se,
    .card-body {
      background-color: @cardBackgroundActive;
      border-color: @cardBorderActive;
      .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
    }
  }

  &.disabled {
    cursor: default;
    .opacity(65);

    .card-ne,
    .card-nw,
    .card-sw,
    .card-se,
    .card-body {
      background-color: @cardBackgroundDisabled;
    }
  }

  .card-body {
    margin: @gridGutterWidth / 2 - 1;
    padding: @gridGutterWidth / 2;
    position: absolute;
    z-index: 1000;
  }
  .card-ne,
  .card-nw,
  .card-sw,
  .card-se {
    width: @gridGutterWidth * 2;
    height: @gridGutterWidth * 2;
    line-height: @gridGutterWidth * 2;
    text-align: center;
    position: absolute;
    z-index: 1010;
  }
  .card-ne {
    float: left;
    top: 0;
    left: 0;
  }
  .card-nw {
    float: right;
    top: 0;
    right: 0;
  }
  .card-sw {
    float: right;
    bottom: 0;
    right: 0;
  }
  .card-se {
    float: left;
    bottom: 0;
    left: 0;
  }
}

.log {
  .grid-cell(4, 5);

  a {
    text-decoration: none;
  }

  .friend {
    color: @infoText;
  }

  .enemy {
    color: @errorText;
  }

  .detail {
    color: @successText;
  }
}

.field {
  .grid-cell(8, 5);
  text-align: center;

  .empty {
    fill: @fieldBackground;
    stroke: @fieldBorder;
    stroke-dasharray: 5,5;
  }
  .hero,
  .creature {
    fill: @fieldBackground;
    stroke: @fieldBorder;
    stroke-dasharray: none;
  }

  .active {
    fill:  @fieldBackgroundActive;
  }
  .highlight{
    fill:  @fieldBackgroundHighlight;
  }
  .disabled {
    .opacity(65);
  }
}


