// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class 
// of .i and are then given a unique class to add width, height, 
// and background-position. Your resulting HTML will look like
// <i class="icon-facebook"></i>.

// For the small and large version of the icons, just add the .small or .large class:
// <i class="icon-facebook small"></i>

// For the iterable version of the icons, just add the .active class:
// <i class="icon-facebook active"></i>

@smallIconSize : 16px;
@iconSize :      24px;
@largeIconSize : 32px;

.icon(@x, @y) {
  background-position: -(@x * @iconSize) -(@y * @iconSize);

  &.small {
    background-position: -(@x * @smallIconSize) -(@y * @smallIconSize);
  }

  &.large {
    background-position: -(@x * @largeIconSize) -(@y * @largeIconSize);
  }
}

.flag(@n) {
  background-position: 0 -(@n * @iconSize);
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: @iconSize;
  height: @iconSize;
  line-height: @iconSize;
  vertical-align: text-top;
  background-image: url(@iconSpritePath);
  background-repeat: no-repeat;
  text-indent: -99999px;
  *text-indent: 0;

  .ie7-restore-right-whitespace();

  &.small {
    width: @smallIconSize;
    height: @smallIconSize;
    line-height: @smallIconSize;
    background-image: url(@smallIconSpritePath);
  }

  &.large {
    width: @largeIconSize;
    height: @largeIconSize;
    line-height: @largeIconSize;
    background-image: url(@largeIconSpritePath);
  }

  &.interactive {
    opacity: 0.5;
    &:hover, &:active, &.active, &:focus {
      opacity: 1;
    }
  }
}

.icon-triangle-l { .icon(0, 0); }
.icon-triangle-r { .icon(1, 0); }
.icon-triangle-u { .icon(2, 0); }
.icon-triangle-d { .icon(3, 0); }

.icon-arrow-l { .icon(0, 1); }
.icon-arrow-r { .icon(1, 1); }
.icon-arrow-u { .icon(2, 1); }
.icon-arrow-d { .icon(3, 1); }

.icon-facebook { .icon(0, 2); }
.icon-twitter { .icon(1, 2); }
.icon-google { .icon(2, 2); }
.icon-vk { .icon(3, 2); }

.icon-blood { .icon(0, 3); }
.icon-heart { .icon(1, 3); }
.icon-skull { .icon(2, 3); }

.icon-flag {
  width: @largeIconSize;
  height: @iconSize;
  line-height: @iconSize;
  background-image: url(@flagIconSpritePath);

  /* AZERBAIJAN */
  &.AZ,
  &.AZE { .flag(0); }

  /* BELARUS */
  &.BY,
  &.BLR { .flag(1); }

  /* BULGARIA */
  &.BG,
  &.BGR { .flag(2); }

  /* BOSNIA AND HERZEGOWINA */
  &.BA,
  &.BIH { .flag(3); }

  /* CZECH REPUBLIC */
  &.CZ,
  &.CHE { .flag(4); }

  /* DENMARK */
  &.DK,
  &.DNK { .flag(5); }

  /* GERMANY */
  &.DE,
  &.DEU { .flag(6); }

  /* GREECE */
  &.GR
  &.GRC { .flag(7); }

  /* UNITED KINGDOM */
  &.GB,
  &.GBR { .flag(8); }

  /* UNITED STATES */
  &.US,
  &.USA { .flag(9); }

  /* SPAIN */
  &.ES,
  &.ESP { .flag(10); }

  /* FINLAND */
  &.FI,
  &.FIN { .flag(11); }

  /* FRANCE */
  &.FR,
  &.FRA { .flag(12); }

  /* CROATIA */
  &.HR,
  &.HRV { .flag(13); }

  /* ARMENIA */
  &.AM,
  &.ARM { .flag(14); }

  /* ITALY */
  &.IT,
  &.ITA { .flag(15); }

  /* JAPAN */
  &.JP,
  &.JPN { .flag(16); }

  /* NETHERLANDS */
  &.NL,
  &.NLD { .flag(17); }

  /* BRAZIL */
  &.BR,
  &.BRA { .flag(18); }

  /* PORTUGAL */
  &.PT,
  &.PRT { .flag(19); }

  /* RUSSIAN FEDERATION */
  &.RU,
  &.RUS { .flag(20); }

  /* ALBANIA */
  &.AL,
  &.ALB { .flag(21); }

  /* SWEDEN */
  &.SE,
  &.SWE { .flag(22); }

  /* CHINA */
  &.CN,
  &.CHN { .flag(23); }

}
